.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Roboto;
    color: #202020;
}

.content_link-creator {
    margin-top:30px;
    position: relative;
}

.content-header {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top:50px;
}

.app-error {
    text-align: center;
    color:lightcoral;
    position: absolute;
    right: 110px;
    top: 50px;
}

.link-creator_submit {
    margin-left:20px;
    width: 120px;
    height: 30px;
    border:none;
    border-radius: 5px;
    background: #21c2f8;
    font-size: 18px;
}

.exit:active {
    background: coral;
}

.link-creator_submit:hover {
    cursor: pointer;
}

.link-creator_submit:active {
    background: #227ebb;
}

.link-creator_input {
    height:18px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height:80%;
    position: relative;
    border-radius: 15px;
    background: #f3f7f8;
    border: 1px solid lightgray;
}

.exit {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 30px;
    width:60px;
    background: lightcoral;
    border: none;
    border-radius: 5px;
}

.exit:hover {
    cursor: pointer;
}

.table-holder {
    width:100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.pagination {
    margin-top:30px;
}

@media (max-width: 1200px) {
    .main-content {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .main-content {
        height: 100%;
    }
}

@media (max-width: 350px) {
    .link_form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .link-creator_submit {
        margin-left:0;
    }
}